<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chenmo.callroll" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAG" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application


        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="点名"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity android:name=".Login" >
        </activity>
        <activity android:name=".TeacherActivity" >
        </activity>
        <activity android:name=".TeacherEmptyActivity" >
        </activity>
        <activity android:name=".StudentActivity" >
        </activity>
        <activity android:name=".FirstStartActivity" >
        </activity>
        <activity android:name=".BeginningActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
